[2018-04-28 13:44] stnava opened #1 "travis warnings"
current status:

[code]

[2018-04-28 15:06] ntustison commented on #1
Thanks for this, @stnava.  I'll work on that this weekend.

[2018-04-28 15:57] stnava commented on #1
i think much of it could be addressed via  a massive set of `@importFrom ` which could probably be generated by a script based on these warnings.

[2018-04-28 16:20] ntustison commented on #1
I see.  That's great.  I'll take a look.

[2018-04-28 20:33] ntustison commented on #1
Okay, Brian, I made some changes and would like to see where we currently are with the warnings.  Would I just changes [this line](https://github.com/ANTsX/ANTsRNet/blob/master/.travis.yml#L6) to

[code]

and then look in the log file?

[2018-04-28 21:20] ntustison commented on #1
Nevermind.  I figured it out.

[2018-04-29 03:49] ntustison commented on #1
Okay @stnava I got everything fixed and switched to ``warnings_as_errors:  true``.  Everything looks like it's passing.  So now I'm going to work on ANTsRNetExamples which I assume we should just put on my GitHub account.  If you want something different, we can switch once I get everything working.  Thanks for getting this started.  It really helped.

[2018-04-29 03:49] #1 closed

[2018-04-29 15:30] stnava commented on #1
Great to see all that green.

Re: examples, I agree.

On Sat, Apr 28, 2018 at 11:49 PM Nick Tustison <notifications@github.com>
wrote:

--

brian

[2018-05-03 12:42] qinqian opened #2 "3D volume data augmentation demo"
Dear author,

Great work for the practical R package of deep learning to medical image tasks. I have used the 3D vgg network function to classify 1000 patients' MRI data into two classes. The performance of training accuracy is quite good, but testing accuracy on average is no more than 80% after tweaking the different regularization techniques including dropout, batch normalization, l2 regulariza

[2018-05-03 12:53] ntustison commented on #2
Obviously we're still in development but you might want to check out our template-based data augmentation strategy which is used by the [U-net example](https://github.com/ntustison/ANTsRNetExamples/tree/master/Examples/UnetExample).   The [publication-in-progress](https://github.com/ntustison/DeepVentNet/blob/master/Manuscript/stitched.pdf?raw=true) provides an explanation.

[2018-05-04 05:56] qinqian commented on #2
Thanks a lot for the quick reply, it is really helpful. Looking forward for your publication.

[2018-05-04 15:55] ntustison commented on #2
No problem.  And thank you for actually testing this stuff out.  This work is pretty new and it's great to get feedback regarding issues/failures/successes.

[2018-05-04 15:55] #2 closed

[2018-05-04 16:23] stnava commented on #2
I am also curious. How did you find out about this?
On Fri, May 4, 2018 at 11:56 AM Nick Tustison <notifications@github.com>
wrote:

--

brian

[2018-05-14 01:46] qinqian commented on #2
I found this on the ANTsR github, and ANTS is a great software I am using.

I encountered another problem for the template-based augmentation. The data we are using is three modality volume data, the template construction is done successfully. However, multi-process data iterator through template-based registration augmentation can lead to heavy io burden and slow speed, even we down sampling to 6

[2018-05-14 18:12] ntustison commented on #2
Yeah, I don't have an answer for you.  You're going to run into this issue, though, anytime you apply geometric transformations to an image for data augmentation regardless of whether you're doing template-based data augmentation or using synthetic elastic transformations.

[2018-05-15 00:17] qinqian commented on #2
Thanks for the reply.

[2018-09-28 15:21] ntustison opened #3 "Loss functions"
Hey @stnava ,

I'm thinking of a small reorganization involving pulling the various custom loss functions from their respective utilities .R files and putting them in their own file.  Would you have any issue with that?

Nick

[2018-09-28 16:02] stnava commented on #3
that sounds good - it would be nice if they were collected somewhere .....
thx for the new pearson function.

brian

On Fri, Sep 28, 2018 at 11:21 AM Nick Tustison <notifications@github.com>
wrote:

[2018-09-28 16:07] ntustison commented on #3
Great.  Thanks.  Will do.

[2018-09-28 16:21] ntustison commented on #3
https://github.com/ANTsX/ANTsRNet/commit/a2820afea3107bcc9d8209b2033dd2e5c8d4703e

[2018-10-20 00:51] ntustison opened #4 "installation issues"
Hey @stnava,

I've reinstalled everything (ANTsR, ANTsCore, ANTsRNet) from scratch (i.e., completely removing the directories and cloning a fresh repo.).  However, I'm getting this error

[code]

Since those "undefined exports" are from ANTsR, does this stem from your recent changes?

Nick

[2018-10-20 01:01] ntustison commented on #4
If I rewind [this latest commit](https://github.com/ANTsX/ANTsRNet/commit/f585b5ade4e00370725a81bb92ac1bb66e0384b2), I don't have this problem.

[2018-10-20 01:11] stnava commented on #4
Yea , agreed

On Fri, Oct 19, 2018 at 9:01 PM Nick Tustison <notifications@github.com>
wrote:

--

brian

[2018-10-20 01:12] ntustison commented on #4
Okay, I'll change it back for now.

[2018-10-20 01:12] #4 closed

[2018-10-20 01:14] stnava commented on #4
There is something f’d On Travis install as well .... not sur what cause is

On Fri, Oct 19, 2018 at 9:12 PM Nick Tustison <notifications@github.com>
wrote:

--

brian

[2018-12-04 16:15] ntustison opened #5 "applyDBPN4x.R app?"
Hey @stnava—do you think we should move ``applyDBPN4x.R`` to ANTsRNet Apps?  Correct me if I’m wrong but it looks like it’s more of an application.

[2018-12-04 16:24] stnava commented on #5
yes - it would be and probably needs more work.   e.g. generalize beyond 4x (2x, 8x) and also more/re-training on a broader set of data.

we can leave this issue open until ready.

[2018-12-04 16:25] stnava commented on #5
probably should also do something like:
[code]
and then auto-select the model, if not provided.   the current model will fail on small input images due to the patch size.   so we need  a cross-product of 2x,4x,8x and patch sizes trained on a variety of patch data (eg natural images, medical images, etc).

[2018-12-04 16:29] ntustison commented on #5
Okay, sounds good.  Putting together a list of the models we need to put in the quartz queue.

[2019-06-19 11:33] 1alebra2 opened #6 "net structure"
Hello
I was trying to run the brainextraction exsample and the trained net does not load. The number of layers of the net in the r code and the trained net seem not to fit, after some searching it gives a message that the r net has 15 layers, and the trained net 18. Could someone probably help with that. I am aware that the main work is training the net, so I would appreciate any help

[2019-06-19 15:39] ntustison commented on #6
Thanks for pointing this out.  It should be fixed now with the latest ANTsRNet repository.  I had made some changes associated with our python analog (ANTsPyNet) and introduced a bug which I just fixed.

[2019-06-19 19:21] 1alebra2 commented on #6
Dear Nick
Thanks lot. I will give it a new try
Alexander’s

repository. I had made some changes associated with our python analog
(ANTsPyNet) and introduced a bug which I just fixed.

[2019-07-02 01:31] stnava opened #7 "typo in alpha layer learning?"
https://github.com/ANTsX/ANTsRNet/blob/05e3090ba58ab6d785cc474f0575a69abb26eac6/R/createDeepBackProjectionNetworkModel.R#L387

1, 2, 3   instead ?

[2019-07-02 02:43] ntustison commented on #7
Oops, sorry, yes.

[2019-07-02 02:47] ntustison commented on #7
https://github.com/ANTsX/ANTsRNet/commit/a5113fd6cf97f61954d10fb483890e765726cfcb

[2019-07-02 02:47] #7 closed

[2019-07-19 16:31] #6 closed

[2019-07-30 07:28] 1alebra2 commented on #6
Hi Nick,

All examples work, except the WholeTumorSegmentation. Here I still get this funny error, either "wrong signature" or differing numbers of layers between the net and the weights.
Would you mind checking again?  Thank you

Another question: Using  MatchhistogramMatchImage.R I get an error by antscloneimage about " missing slots" obviously a S4 object problem. I am reading the images with r

[2019-07-30 13:49] ntustison commented on #6
I just ran it using the latest pull from ANTsRNet and it worked fine (see below).

Regarding your second question---``readNIFTI`` reads in the nifti image into a completely separate data object as an antsImage.  There's no cross-compatibility.

[code]

[2019-07-30 14:34] 1alebra2 commented on #6
Thanks a lot
So i have to check and find out

below).

completely separate data object as an antsImage. There's no
cross-compatibility.

Data/Example/brats_tcia_pat222_2/T2.nii.gz
Data/Example/brats_tcia_pat222_2/Flair.nii.gz
Data/Example/brats_tcia_pat222_2/BrainExtractionMask.nii.gz output
Data/Template/S_template3_resampled2.nii.gz

(elapsed time: 0.2036459 seconds)

/Users/ntustison/anaconda3/

[2019-08-29 11:35] #5 closed

[2019-10-13 03:08] XuzheZ commented on #2
Hi, hope you are doing well. I am wondering is there open source code for your template-based augmentation algorithm? I didn't find it in any ANTs repo. I want to test it on our dataset. Any response will be very much appreciated. thx!

[2019-10-13 20:07] ntustison commented on #2
Hi @XuzheZ ,

It's not in the repo as it's not really a generic operation.  However, all the components are available and the approach is pretty.  To do template-based data augmentation, you

1.) build a template from your data.  [Here](https://github.com/ntustison/TemplateBuildingExample) are a couple 2-D examples that you can run.  That process will give you the template and the set of transform

[2019-10-16 03:02] XuzheZ commented on #2
Hi @ntustison,

Thank you for your detailed reply and the methods seem novel and promising! I will try to see how to build the template in our dataset. Thanks for your help and time!

Wish you all the best in your research

[2019-11-19 22:57] ntustison opened #9 "Limit threading"
Just a follow up to an earlier [ANTsR issue](https://github.com/ANTsX/ANTsR/issues/289) I raised---

Tensorflow also grabs all resources so to limit that, we have to do:

[code]

although for Tensorflow 2.0, one has to replace ``tf$`` with ``tf$compat$v1$``.

[2019-11-19 22:57] #9 closed

[2019-12-22 06:53] mg64ve opened #10 "creating createResNetModel1D"
Hello, interesting project, thanks for sharing.
I am trying to write createResNetModel1D.
I have just taken createResNetModel2D and tried to convert to 1D layers.
I have some doubts on the following lines in squeezeAndExciteBlock2D:

[code]

I am using the following instead of c(4, 2, 3):

[code]

Not sure if it might be correct. What is the meaning of this permutation and when is supposed to be a

[2019-12-23 18:09] ntustison commented on #10
@mg64ve --- good question.  Unfortunately, my experience with both the squeeze-and-excite block as well as 1-D convolutional architectures are very limited.  In fact, I haven't had a chance to test this yet.  Since the 2-D case is

[code]
and the 3-D case is
[code]
I suspect the 1-D case would be
[code]

but I'd have to do some more testing/thinking to be sure.

[2019-12-24 08:51] mg64ve commented on #10
Thanks @ntustison
It seems to work.
If I have time to document and add an example I will create a pull request, I guess it might be useful for someone else.
However now I would like to transform createResNetModel1D 1D ResNet CNN neural network model in an autoencoder.
Any good idea on how to make it?

[2019-12-26 18:51] ntustison commented on #10
Sorry, I don't.  We have a couple of autoencoder code snippets but I haven't translated any of them to 1-D.

[2019-12-26 21:12] mg64ve commented on #10
Ok @ntustison , but do you have 2D or 3D resnet autoencoder?

[2019-12-26 21:51] ntustison commented on #10
No, we don't have that architecture implemented.

[2020-01-29 22:06] muschellij2 opened #12 "Failing UNet"
[code]

[2020-01-30 16:04] muschellij2 opened #13 "Create Denoising model"
There is an error on https://github.com/ANTsX/ANTsRNet/blob/master/R/createDeepDenoiseSuperResolutionModel.R#L90
The first argument of `layer_add` is the inputs (list of tensors) and the second argument is the `batch_size`.  When piped, this is putting `outputs` in the `inputs` slot, then list in the batch size.   I'm not sure what you want to do here, so I added a stop because it's not fixed.

[2020-01-30 16:05] muschellij2 opened #14 "uvaSeg not working"
[code]

<sup>Created on 2020-01-30 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2020-01-30 16:36] muschellij2 opened #15 "Super resolution GAN Model"
Default for SuperResolutionGanModel is bad for `64x64x3`, but needs to be `112x112x3`.  Technically the product needs to be `25088/2 = 12544`
[code]

<sup>Created on 2020-01-30 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2020-01-30 16:40] muschellij2 opened #16 "Ssd7 Model"
# createSsd7Model2D fails for 2D

[code]

# Also fails for 3D

[code]

<sup>Created on 2020-01-30 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2020-01-30 18:55] muschellij2 opened #17 "InstanceNormalizationLayer"
I see the stop code for `axis = 1L`, but https://github.com/ANTsX/ANTsRNet/blob/master/R/customNormalizationLayers.R#L21 states to set `axis = 1`.
[code]

<sup>Created on 2020-01-30 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2020-02-01 01:50] ntustison commented on #17
https://github.com/ANTsX/ANTsRNet/commit/21a5101aca97fe87880cc96317f4f2f98a06b7df

[2020-02-01 01:50] #17 closed

[2020-02-01 03:13] ntustison commented on #16
Try this:

[code]

[2020-02-01 03:18] ntustison commented on #12
Do you get an error?  I don't seem to have any problems running it.

[code]

[2020-02-03 15:41] muschellij2 commented on #16
Does that break other code?  Worked for me, but found that `disable_eager_execution` caused errors elsewhere.

[2020-02-03 15:44] ntustison commented on #16
Where?

[2020-02-03 15:45] muschellij2 commented on #16
Can't remember - let's see if R CMD check passes on https://travis-ci.org/ANTsX/ANTsRNet/builds/645515832

[2020-02-04 02:06] ntustison opened #23 "Dice metric is not working"
If one runs the 2-D u-net example [here](https://github.com/ANTsX/ANTsRNet/blob/master/R/createUnetModel.R#L43-L109) with training, the following error occurs:

[code]

[2020-02-04 18:55] muschellij2 commented on #12
Hmm - looks good to me - may be an error when `R CMD check`

[2020-02-04 18:58] muschellij2 commented on #12
[code]

<sup>Created on 2020-02-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2020-02-04 19:14] ntustison commented on #12
This seems to be an unconventional usage of custom-built keras functionality---at least it's not common.  So unless I see that it's an error strictly within ANTsRNet and not due to the keras/R interface, I probably won't look into this.  Also, I'd prefer not to include unconventional usage as examples.

[2020-02-04 19:36] muschellij2 commented on #12
I'm guessing though that `layer_scale` may error when the model is built.  Not sure - just wanted to be sure.  Not sure if that is causing it, but when you go to train the UNet:

[code]

<sup>Created on 2020-02-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2020-02-04 20:27] ntustison commented on #12
The scale layer is used in the dense U-net, a different architecture and separate code.  The issue you raise is due to the custom dice metric for which I created an [issue](https://github.com/ANTsX/ANTsRNet/issues/23) yesterday.  We should probably replace the code in the examples to use something built-in like 'categorical_crossentropy' until I can fix it.

[2020-02-06 10:06] deeplearnerguy opened #24 "Template-Based Data Augmentation comprehension issue"
Hi,

I'm trying to implement data augmentation for U-net training on MRI images using template-based augmentation method described in "Convolutional Neural Networks with Template-Based Data Augmentation for Functional Lung Image Quantification" (https://www.ncbi.nlm.nih.gov/pubmed/30195415).

What i'm trying to understand is how the new data is created. The following formula is used :

Snew = Ssou

[2020-02-06 15:21] ntustison commented on #24
Unless under artificially contrived conditions, ``Snew`` will not be exactly like ``Starget``.  You'll have structures which don't correspond across subjects (e.g., tertiary sulci in the brain) and the relative intensities will be different.  Also, the way we'll typically do template data augmentation is create a template from the *masks* of the structures of interest and simply map between subjec

[2020-02-06 15:36] deeplearnerguy commented on #24
Thanks for clarifying this point, I understand better the context now. The edges of the new image will be the same as the target but the intensities will be modified and create a new subject.

[2020-03-10 20:48] #24 closed

[2020-03-21 17:42] #10 closed

[2020-03-27 04:18] ReyCJ opened #27 "Converging in single cluster in DEC (Deep embedded clustering), R implementation"
Speaking briefly, I noticed a strange performance difference in equal implementations of Deep embedded clustering (DEC) in R and Python (which is available at:  https://github.com/XifengGuo/DEC-keras/blob/master/DEC.py ).

**My question,**
According to the figures below, the **implementation in R** coverage in the stop condition by putting all the observations(i.e. data samples) in one cluster (Fi

[2020-03-27 16:26] ntustison commented on #27
This is certainly the forum for answering specific questions about the code in this repository but it's not a forum for answering general questions about code even if it is related.  In other words, I don't have time to debug other people's code.  I would advise you ask on a more suitable forum such as stack overflow.

[2020-03-27 16:26] #27 closed

[2020-03-27 17:28] remahini commented on #27
@ntustison

Dear Nick Tustison,

Thanks for replying!

Please Let me clear my question which can make a better understanding!

Firstly the code works without any bug. The question is, if the same code and data (i.e. "minst" data in both R and Python codes for DEC) are used, why the DEC R implementation coverage in **one single cluster**? (what cause this?)

Could you please let me know which funct

[2020-03-27 18:31] ntustison commented on #27
I'm still debugging *my* code.  You can see that I've made changes yesterday and today.  And I'm still working on my python version in ANTsPyNet.

When you write "My question is, I have used the same code and data (you included in the code in the comment section), however, the DEC R implementation coverage in one single cluster? (what cause this, this is the question)"    Perhaps it's the English

[2020-03-27 19:54] remahini commented on #27
Dear Nick Tustison,

I am sorry for unclear question. I rephrased my question!
Thanks for devoting time and considering!

I read the changes and debugging in your code. unfotunately, the issue exists while using the dense layers for clustering data (for example the  "mnist" dataset).

_I got really confused. it should work, but it converges on one single cluster._

could you please let me know wha

[2020-03-29 07:40] remahini commented on #27
Dear Nick Tustison,

Sorry for disturbing you!

I just want to know what causes the converging of the DEC to a **single cluster**?
I do not change the parameters you adjusted in your code and just keep them as simple as here:

The implementation in R: https://www.dropbox.com/s/yviyjt4q7bu5wgq/DEC_test_original.R?dl=0
The implementation in Python: https://www.dropbox.com/s/ii3k7rklz7z6446/DEC_origi

[2020-03-30 16:25] ntustison commented on #27
Hi @ReyCJ ,

I don't know why it's converging to a single cluster.  I'm still looking at it.

Nick

[2020-03-31 10:50] remahini commented on #27
Hi Nick!

Thanks for replying!
Hopefully, you will find what is the issue. I am working on too.

Sincerely,
Reza

[2020-04-04 23:39] ntustison opened #28 "External data?"
Hey @muschellij2 ,

We would like to turn some of the more well-vetted "apps" into ANTsRNet functions (e.g., [brain extraction](https://github.com/ANTsXNet/BrainExtraction)).  However, these require the download of external data (e.g., a template and the model weights).  In the R context, what is standard practice?  Specifically, to where should these data be downloaded?  A temp directory or inst/

[2020-04-05 19:37] muschellij2 commented on #28
OK quick thoughts:

1.  We're trying to make things like CRAN policy as much as we can within reason, so that means examples don't write to the users home directory and write to a tempdir.  Implication: any function should provide an `outdir` option or something like that to point to where to download data, and in examples, this should use `tempdir`.
2. Defaults for `outdir` can use `system.packag

[2020-04-05 23:38] ntustison commented on #28
Sounds good.  Thanks @muschellij2 .  I'll be working on this relatively soon.

[2020-04-05 23:38] #28 closed

[2020-04-08 15:48] muschellij2 commented on #28
Relevant:
https://thecoatlessprofessor.com/programming/r/r-data-packages-in-external-data-repositories-using-the-additional_repositories-field/
Best,
John

On Sun, Apr 5, 2020 at 7:39 PM Nick Tustison <notifications@github.com>
wrote:

[2020-06-06 05:53] ntustison opened #29 "note to self: need to fix"
https://github.com/ANTsX/ANTsRNet/blob/5842d984a0053db08eebc0d17738ddb882111552/R/hippMapp3rSegmentation.R#L114

[2020-06-06 14:22] #29 closed

[2020-11-11 14:09] kumeS opened #34 "Code error in the example for "createUnetModel2D""
Hi, authors!
I got an error message in the example code for "createUnetModel2D" as follows.

[code]

In this case, I think that "batch_size = 5" is correct and it's code worked.

[code]

I hope you find this report helpful.

Thank you for your great work in R.

[2020-11-11 14:38] kumeS opened #35 "3D image dataset for a tutorial of image segmentation"
Do you have any 3D image dataset and codes as a tutorial of 3D image segmentation in this package?

I would like to check the 3D segmentation accuracy using 3D U-NET and other models in ANTsRNet, but I did not find any tutorial executable code for the 3D image segmentation in the package.

It would be helpful to get some advice.

Thank you.

Satoshi.

[2020-11-11 16:35] ntustison commented on #35
Sufficiently large datasets are difficult to obtain and are not part of this project.  You would have to do that separate from the code we've written this project.   However, you can read about one project involving 3-D segmentation using ANTsRNet [here](https://www.medrxiv.org/content/10.1101/2020.10.19.20215392v1).

[2020-11-11 16:35] #35 closed

[2020-11-11 16:37] ntustison commented on #34
This appears to be a separate issue from the actual ``createUnetModel2D`` code so I'm closing for now.  If it is indeed a bug, please create a reproducible example with data.

[2020-11-11 16:37] #34 closed

[2020-11-11 16:41] stnava commented on #34
This usually has to do with the size of the input data, your input data
needs to be divisible by two up to the number of levels in the Unet

On Wed, Nov 11, 2020 at 11:37 AM Nick Tustison <notifications@github.com>
wrote:

--

brian

[2020-11-12 03:44] kumeS commented on #34
Thank you for your comments.

My comment might be unclear as I did not show all code.
I just run the code in your example of "createUnetModel2D {ANTsRNet} | R Documentation"
The batch_size in "Fit the model" should be 5, because the data is not divided by two if batch_size is 4.
Thanks a lot.

Satoshi

[code]

[2020-11-12 15:30] ntustison commented on #34
Okay, that makes sense.  Thanks.  I just changed it.

[2020-11-21 03:28] s-j-choi opened #36 "Instructions for deepFlash and deepAtropos"
Dear ANTsRNet experts,

I wonder if there are examples/instructions for viewing (and saving as nii.gz) deepFlash and deepAtropos results?
I tried but I could not locate them in the manual link.

Thank you in advance.

[2020-11-21 03:35] ntustison commented on #36
Saving:  ``?antsImageWrite``

Viewing:  [itksnap](http://www.itksnap.org/pmwiki/pmwiki.php) is a recommended .nii.gz viewer.

[2020-11-22 19:45] s-j-choi commented on #36
Thank you. It works great!

[2020-11-22 19:45] #36 closed

[2020-12-11 19:18] muratmaga opened #37 "CUDA and tensorflow-gpu on WSL2"
This is not a bug, a comment.

It appears that it is now possible to run tensorflow-gpu with docker [1] or even without docker [2] through WSL2.
This requires  using the a specific version of Nvidia drivers on windows. I lost the link Nvidia provided for WSL2 specific drivers, but I am using 465.12, which is not even listed on the regular driver download page.

I tried to follow the instructions a

[2020-12-13 22:39] #12 closed

[2020-12-17 17:13] ntustison opened #38 "Remove unnecessary code?"
Hey @stnava,

Do you mind if I remove these two functions?

https://github.com/ANTsX/ANTsRNet/blob/master/R/resampleTensorUtilities.R#L40

https://github.com/ANTsX/ANTsRNet/blob/master/R/resampleTensorUtilities.R#L143

I wrote them when I was learning about this stuff and I don't think they're practically useful as they're not formulated as custom layers.  Also, with the changes I'm making, I'd ra

[2020-12-17 17:28] stnava commented on #38
no problem

[2020-12-17 17:28] ntustison commented on #38
Thanks.

[2020-12-17 17:28] #38 closed

[2021-01-07 18:14] ntustison opened #40 "Poor results in brainExtraction"
Sometimes ``brainExtraction`` gives poor results---specifically, nonzero probabilities in the face area.  This is due to the training data, in many cases, being defaced.  In the short term before adding more training data, in order to improve results for such cases, one can modify the input t1 as follows:

[code]

[2021-01-14 18:35] stnava commented on #40
@ntustison  do you have example ADNI images for which this occurs?

this option might also work

[code]

[2021-01-14 18:46] ntustison commented on #40
Yeah, a handful of subjects from James' recent data set have that problem.  Let me see if it works.

[2021-01-14 18:55] ntustison commented on #40
It looks like it works for the one case I tried:

<img width="1080" alt="Screen Shot 2021-01-14 at 10 55 16 AM" src="https://user-images.githubusercontent.com/324811/104635625-0589ea00-5657-11eb-9461-fd13d32306b9.png">

[2021-03-10 16:58] sj-choi opened #41 "Regarding 'desikanKillianyTourvilleLabeling'"
I am testing 'desikanKillianyTourvilleLabeling' function implemented in ANTsRNet. It works great with huge memory on my virtual machine (VirtualBox). It takes up around 60 GB out of 64 GB. However, it crashes when I ran on other data. When I restart VirtualMachine, then it works great for one data and it crashes again in the middle of processing the next data. I did a few things to refresh the mem

[2021-03-10 22:11] ntustison commented on #41
You should be able to find stuff online (e.g., [here](https://www.ncaa.com/news/cross-country-men/article/2021-03-07/2021-di-mens-and-womens-cross-country-championship-selections-announced?utm_campaign=inline-superpage))

[2021-03-11 00:43] sj-choi commented on #41
The link appears to be about NCAA cross-country championship.

[2021-03-11 01:02] ntustison commented on #41
Yeah, I guess that isn't relevant.  Try [this](https://stackoverflow.com/questions/46421258/limit-number-of-cores-used-in-keras).

[2021-03-19 13:53] sj-choi commented on #41
I wonder if there is a similar implementation of "desikanKillianyTourvilleLabeling" for "pure" ANTs (not using ANTsRNet/TensorFlow under the hood).

What I am looking for is ANTs command/function that can do DKT labeling in a BASH script using ANTs functions. (neither R nor Python) I checked "${ANTSPATH}" but I couldn't see nor recognize it. If it was already there, could you let me know? It might

[2021-03-19 14:10] ntustison commented on #41
No.  You could use joint label fusion (``antsJointFusion``) to get a set of DKT labels but it's not a similar implementation.

[2021-03-19 14:36] sj-choi commented on #41
Thanks for your clarification.
By the way, reducing the number of cores was not the solution. A critical issue appears to be the physical memory size being used during the DKT labeling using ANTsRNet.

- I wonder if there is any recommended memory size for this process?

- Is the DKT labeling only available for ANTsRNet/ANTsPyNet? Is a DKT implementation available in ANTsR, not ANTsRNet? If so, I

[2021-03-19 15:18] ntustison commented on #41
I would recommend you do some searching to handle any system-specific memory issues.

No, the DKT implementation is deep learning-based.  As such, it requires the keras backend only accessible through ANTsRNet/ANTsPyNet.

[2021-03-27 00:05] #23 closed

[2021-03-27 00:05] ntustison commented on #23
I'm pretty sure this is fixed now.

[2021-03-28 22:10] ntustison commented on #40
https://github.com/ANTsX/ANTsRNet/commit/bdc79ce324a7fe568b323ce30d8adf2602bee5f3

[2021-03-28 22:10] #40 closed

[2021-06-29 21:28] valeryozenne opened #45 "Training with template base data augmentation"
Dear ANTs expert.

I'm not reporting a bug , I have basic question regarding the usage of antsRnet.

## Objectives

I wish to perform segmentation using antsRnet. I have a small database of mouse brain in nifti format with the corresponding masks and I would like to test the template base data augmentation strategy. So far I've been able to :

- install antsR, antsPy, antsRnet, ansPynet on Ubuntu

[2021-06-29 22:59] ntustison commented on #45
Hi @valeryozenne ,

It's great that you've had some success using ANTsRNet and ANTsPyNet.  You'll have to let us know more of your experience when you get a chance.  But first to this issue.  Before getting to your questions, though, let me clarify a couple things:

* I'm not so much a proponent of the *practical* utility of the template-based data augmentation approach anymore.  It's just too cum

[2021-06-30 10:23] valeryozenne commented on #45
Hi Nick,

Thanks for your prompt answer and advice

- About the template-based data augmentation, I will have a look to functions you mentioned.

- Thanks for the new example with the Xenon acquisition. I will test the training scripts. Could you confirm that the corresponding datasets for training are available in this folder  https://github.com/ntustison/Histograms/tree/main/Analysis/Data/He2019

[2021-06-30 15:33] ntustison commented on #45
No, that's not the training data.  Unfortunately, I don't own the training data so I can't share it.

I suspect this should be enough with sufficient data augmentation using the functions I mentioned.

We recently retrained our T1-w human brain extraction and got much better results so I would look at the attached training example.  One thing to notice is the use of a sigmoid activation coupled wi

[2021-07-09 12:14] valeryozenne commented on #45
Thanks a lot for the scripts. That's really helpful. The training and prediction scripts are now working well on our data. I need to work a bit on my own on the data augmentation strategy you suggested and also on the database size but the first prediction using a another database find the web with a similar sequence is acceptable.

![Capture d’écran de 2021-07-09 14-01-37](https://user-images.git

[2021-07-09 12:14] #45 closed

[2021-07-09 14:03] ntustison commented on #45
Glad it worked.  And if you're interested, we could always incorporate any contributions back in the current set of trained models.

[2021-09-01 04:49] MichaelWu-21 opened #46 "Cortical thickness: Error in atropos$probabilityImages[[4]] + atropos$probabilityimages[[5]] :"
Hi, I run this:
library(ANTsRNet)
library(ANTsR)
library(keras)
t1 <- antsImageRead('t1_test.nii')
ct <- corticalThickness(t1, antsxnetCacheDirectory = './', verbose = TRUE)

which produce an error:
=============================================================================
The composite transform comprises the following transforms (in order):
  1. inverse of /var/folders/k6/j4kr_q3s5w345njb9dbh

[2021-09-01 14:50] ntustison commented on #46
Thanks for this.  I just pushed a fix.  Can you update your repo and try it again?

[2021-09-02 06:57] JinFeng-Wu commented on #46
Thank you very much for your help~

[2021-09-02 07:23] JinFeng-Wu commented on #41
I ran desikanKillianyTourvilleLabeling for sevaral times with the default options (doLobar = TRUE), but this functionality produced around 8 ROI stats, can you help to check it out?

[2021-09-02 08:22] MichaelWu-21 opened #47 "desikanKillianyTourvilleLabeling only produces few ROI stats"
Hi, I ran this:

# Desikan-Killiany-Tourville labeling
  dkt <- desikanKillianyTourvilleLabeling(t1, verbose = TRUE )

  # DKT label propagation throughout the cortex
  dktCorticalMask <- thresholdImage(dkt$segmentationImage, 1000, 3000, 1, 0)
  dkt_tmp <- dktCorticalMask * dkt$lobarParcellation
  ctMask <- thresholdImage(ct, 0, 0, 0, 1 )
  dktPropagated <- iMath( ctMask, "PropagateLabelsThroughMa

[2021-09-02 09:16] #47 closed

[2021-09-02 09:17] JinFeng-Wu commented on #47
Problem solved

[2021-09-04 02:48] MichaelWu-21 opened #48 "Huge memory usage after using desikanKillianyTourvilleLabeling()"
Hi there.
After I ran dkt <- desikanKillianyTourvilleLabeling(T1), it apeared that the memory was up to 22GB for a single run, even after I ran rm(list = ls()).
Further more, if I looped subjects using this function, the memory would be accumulated and finally caused memory failure. I guess the problem might be the parameters of the deep learning model?
Can you help to check it out, solutions will

[2021-09-04 04:00] ntustison commented on #48
Yep, that’s known.  You’re welcome to try the python version which I use on my cluster with allocation of 18gb.

[2021-09-08 03:40] JinFeng-Wu commented on #48
Thank you, I've tried ANTsPy, it worked fine.

[2021-09-08 03:46] MichaelWu-21 opened #49 "Cortical thickness evaluation inconsistency!!!"
Hi there. I tried two versions cortical thickness evaluation methods, python one and R one. It turned out the evaluated thickness varied in two approaches. I think this could be the difference of probability maps evaluation in two sessions of deep atropos? How can I fix this?

[2021-09-08 03:50] JinFeng-Wu commented on #49
The thickness varied in a great deal, for example, the max thickness of python version is around 8, and 5 for the R one. Also, the distribution of thickness of all voxels differed greatly.

[2021-09-08 14:03] ntustison commented on #49
I just ran the following two snippets:

[code]

and

[code]

and the differences were negligible between the two output images.

[2021-09-08 14:04] ntustison commented on #48
Please close any issue that has been adequately addressed.

[2021-09-08 14:05] #41 closed

[2021-09-09 02:08] JinFeng-Wu commented on #49
Thank you for your help. I tested one more time, and the results were quite similar.
By the way, I fed the segments generated by deep atropos into the SHELL kellykapowski, the results were substantially different from the results produced by R or python, why is that? Is the algorithm different in these approaches?

[2021-09-09 02:10] #48 closed

[2021-09-09 02:10] #46 closed

[2021-09-09 03:23] ntustison commented on #49
No.  My guess is that you didn't set up the priors properly in the input to ``KellyKapowski``.  Take a look at the ``antsCorticalThickness.sh`` script.

[2021-09-09 04:10] JinFeng-Wu commented on #49
library( ANTsR )
library( ANTsRNet )
t1 <- antsImageRead(getANTsXNetData("kirby"))
atropos <- deepAtropos( t1, doPreprocessing = TRUE,
                         verbose = TRUE )
# Kelly Kapowski cortical thickness
kkSegmentation <- antsImageClone(atropos$segmentationImage)
kkSegmentation[kkSegmentation == 4] <- 3
grayMatter <- atropos$probabilityImages[[3]]
whiteMatter <- atropos$probabilityImages[

[2021-09-09 13:25] ntustison commented on #49
Are the parameters defaulting to the same value?  Did you compare the written output?

[2021-09-10 01:29] JinFeng-Wu commented on #49
I did compare the outpputs, and quite confident that the parameters were set to the default. I've tested a lot, the results differed substantially.

[2021-09-10 02:41] ntustison commented on #49
Then please neatly organize a complete example including the input images, deep atropos output (segmentation and priors), the antsrnet/antspynet thickness image, the shell script ``KellyKapowski`` output, and the command script you used to generate the output.

[2021-09-10 03:39] JinFeng-Wu commented on #49
Hi Nick, I already sent you a email with those files and outputs to your gmail address, please check it out.

[2021-09-10 13:50] ntustison commented on #49
Okay, I explicitly asked you to check the parameters "(Are the parameters defaulting to the same value?  Did you compare the written output?)" and I also told you to check the ``antsCorticalThickness.sh`` script so I assumed you had checked the parameters.  However, it would seem you did not do that.   Please help us by doing your part in investigating the issues especially if you're trying to do

[2021-09-10 16:11] JinFeng-Wu commented on #49
Thank you very much for your help. It was my serious mistake not to notice the parameters differences, sorry for the trouble.
After I adjusted my shell KellyKapowski parameters, which were:
     `KellyKapowski -d 3 -s segment.nii.gz -g gm.nii.gz -w wm.nii.gz -o ct_shell.nii.gz -v 1 -c [45, 0.0, 10] -m 1.5 -r 0.025 -t 10 `

     Maximum number of iterations = 45
     Thickness prior estimate = 10

[2021-09-10 18:23] ntustison commented on #49
Okay, send me the screen dumps for both versions (ANTsRNet and shell).

[2021-09-11 01:15] MichaelWu-21 commented on #49
Hi Nick, I tested the ANTsR and shell with the same segmentation, gray matter and white matter, here are the results:

`KellyKapowski -d 3 -s C0_001_segment.nii.gz -g C0_001_graymatter.nii.gz -w C0_001_whitematter.nii.gz -o ct_shell.nii.gz -c '[45,' 0.0, '10]' -m 1.5 -r 0.025 -t 10 -n 10 -v 1`

Running DiReCT for 3-dimensional images.

  Iteration 1 (of 45).  Current energy = 0.798754.
  Iteration

[2021-09-11 01:47] JinFeng-Wu commented on #49
Okay, I got the point now. When I call corticalThickness() in ANTsRNet, the default setting of `matrix-based smoothing` is OFF, when I call kellyKapowski() in ANTsR or ANTsPy, the `matrix-based smoothing` option is on, that's the critical difference of the results generation.

[2021-09-11 02:27] JinFeng-Wu commented on #49
Problem solved, it's exactly a parameters setting problem.
Thank you for your help Nick.
Brilliant software!!!

[2021-09-11 14:20] ntustison commented on #49
Thank you for finding this parameter discrepancy.  I'll work on coordinating this parameter difference with @stnava.  Currently I'm leaning towards turning off smoothing in the ANTsPy/ANTsR versions.

[2021-09-12 12:01] JinFeng-Wu commented on #49
Thank you Nick.

[2021-09-12 12:01] #49 closed

[2021-09-13 01:32] ntustison commented on #49
https://github.com/ANTsX/ANTsR/pull/354

[2021-11-01 17:52] sj-choi opened #50 "Any possibility of refining DKT labels"
The results seemed good, in general, without any complex parameter setup step. However, a fair amount of sulcal CSF area seemed included in the cortical GM (overestimated cortical GM).

In the following link, I can see a few options, which are helpful, but not enough.
https://rdrr.io/github/ANTsX/ANTsRNet/man/desikanKillianyTourvilleLabeling.html
If possible, it would be great to know any fine-tun

[2021-11-01 18:07] ntustison commented on #50
Has this assertion been systematically evaluated over a number of different subjects and data sets?  If so, it would be good to see the results.  Otherwise, this claim might be a bit hasty without further information.

There are no additional options available specific to this pipeline.  You can try coupling it with post-processing but we don't have any specific suggestions.

Again, we would have

[2021-11-01 21:54] stnava commented on #50
@ntustison I believe @sj-choi is referring to the fact that DKT doesn't explicitly do a tissue segmentation.   we believe that is fine - and we adjust for it by merging the labels with the output of a tissue segmentation.  that is a fairly clean and easy way to resolve the issue although it is true that we could make a Bayesian version that explicitly incorporates tissue priors/posteriors.

[2021-11-04 15:09] sj-choi commented on #50
@stnava Thank you for your suggestion and for reading between the lines of what I wrote. Following your suggestion, I might need to play with DTK labels and Atropos segmentation results to refine the results.

[2021-11-04 15:09] #50 closed

[2021-11-04 15:12] stnava commented on #50
`deep_atropos`

[2022-01-16 02:40] thomshaw92 opened #51 "Reference for DeepFlash"
Hi,
Is there a reference for the DeepFlash hippocampal segmentation tool? Paper/ conference abstract?

Some feedback: it works really well, even at 7T! Thanks for the tool. :D

[2022-01-16 20:43] ntustison commented on #51
@thomshaw92, thanks for the feedback.  I don't think I've personally tested it at 7T so it's good to hear it might be potentially generalizable.  Make sure that you've updated to the latest which includes an alternative preprocessing scheme using rank intensity to mitigate site effects.

Short answer:  Sorry, but no---no conference paper or otherwise.

Longer answer:  DeepFlash has been a longtime

[2022-01-19 15:27] #51 closed

[2022-03-06 00:20] hegde00 opened #52 "A 'tensorflow not found' error"
Hello,

I'm trying to familiarize myself about how ANTsRNet works. To this end, I'm trying to run some example ANTsRNet script.

**The 'tensor flow not found' error occurs with every single one of the ANTsRNet scripts I've tried to run so far.**

For instance, this is what happens when I try to run "ANTsRNet.quick.example.r" from https://github.com/ANTsX/ANTsPyNet/wiki/Quick-example.

The script t

[2022-03-06 22:22] hegde00 commented on #52
I was just able to fix the above problem by running the following command in R:

This fix was suggested in https://stackoverflow.com/questions/44611325/r-keras-package-error-python-module-tensorflow-contrib-keras-python-keras-was-n.

With the above fix, I've now been able to run every example script in Nick Tustison's ANTsRNet GitHub (https://github.com/ntustison/ANTsRNetExamples) I've tried so fa

[2022-03-06 23:57] ntustison commented on #52
Great.  Glad you got it to work.

[2022-03-12 18:13] #52 closed

[2022-03-12 22:15] hegde00 opened #53 "Are ANTsRNet functions available for **training** and **testing** UNet models?"
Hi Nick et al,

I'm quite new to ANTsRNet. I see that the ANTsRNet package offers several different script examples for _**creating**_ UNet  models (such as  createUnetModel3D(), etc). I also see that ANTsRNet also provides UNet ulitities for _**encoding**_ and _**decoding**_ the labels.

But are there ANTsRNet functions (or example ANTsRNet scripts) available for _**training**_ and for _**testing

[2022-03-13 21:39] ntustison commented on #53
The scripts that we use to train are typically application-specific such that they don't really fit in ANTsRNet as a generic utility package.  However, we have no problem providing sample training scripts that we've used in the past.  For example, you might find [this repository](https://github.com/ntustison/Histograms) useful as it contains all the work I wrote for [this paper](https://pubmed.ncb

[2022-03-14 04:21] hegde00 commented on #53
Thank you very much, Nick. I'll check it out.

[2022-04-10 23:03] hegde00 commented on #53
Hi Nick,

Thank you for pointing to the ElBincho *training* code that you pointed to in your response above. I successfully modified the ANTsRNet code to work with my image dataset.

However, there was no *testing* code in the ElBincho directory. So I've been trying for a few weeks, *without success*, to write the testing code myself in ANtsRNet. (I've successfuly hacked Python code to do my segme

[2022-04-10 23:33] ntustison commented on #53
A couple things:

* The testing code is what is actually put into the repo for the users to use for their data (who tend to not do much training _as users_ of ANTsXNet).  So [here is the el bicho prediction code](https://github.com/ANTsX/ANTsRNet/blob/master/R/lungSegmentation.R#L28-L185).   It consists of the preprocessing that was used for network training followed by prediction.

* Something th

[2022-04-11 02:17] hegde00 commented on #53
(1) Thank you very much for the code. This is exactly what I was looking for! I'm looking forward to not only getting my prediction script working, but also to figuring out what I was doing wrong before.

(2) Thank you for letting me know.  As an ANTsX user, it's good for me to have this in mind going forward.

[2022-06-27 01:54] hegde00 commented on #34
Hi Nick,

I've been trying to run the UNet in https://rdrr.io/github/ANTsX/ANTsRNet/man/createUnetModel2D.html, **_with the sole exception that I uncommented the model %>% fit() call._**

That is to say, the code I'm running is identical to the code shown in the above Nov. 11, 2020 comment by kumeS, except that in my script had batch_size = 5 (instead of 4). [Plus I commented out the word "Example

[2022-06-27 13:40] ntustison commented on #34
Currently traveling @hegde00 .  I'll try to answer this later in the week.

[2022-06-28 16:08] ntustison commented on #34
@hegde00 --- The problem is the custom metric.  If you change it to a standard metric (like "mse"), it should work.  Try the following:

[code]

[2022-06-28 18:10] hegde00 commented on #34
Hi Nick,
Yes, this fully solves the problem. Thank you so much!

You saved me from having to laboriously step through **_python_** function calls in **_R_** in Ubuntu -- something I'd rather avoid. :)

Thanks again,
Jay

[2022-07-30 01:01] hegde00 opened #55 "ANTsRNet/ANTsPyNet approaches to image registration"
Hi NIck,

I'm trying to register images of _non-brain_ bodily structures. ANTsR  routines work rather well in my hands for this purpose, but not great. So I was wondering if deep learning-based (i.e., written in ANTsRNet/ANTsPyNet) solutions to image registration exist.

I see that others have reported good success using FlowNet/FlowReg architectures implemented on non-ANTsX platforms. Some studie

[2022-07-31 18:57] ntustison commented on #55
We haven’t prioritized deep learning approaches for image registration so we don’t have anything to offer in ANTsXNet.

[2022-08-01 02:09] hegde00 commented on #55
OK Nick, thank you very much for letting me know.

[2022-08-01 02:09] #55 closed